.app_violet_theme {
    --bg-color: #eae7ee;
    --inverted-bg-color: rgb(234 232 91 / 32%);
    --primary-color: #070e65;
    --secondary-color: #070e65;
    --inverted-primary-color: #070e65;
    --inverted-secondary-color: #070e65;
}
